*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div1{
    height: 100px;
    width: 100px;
    background-color: skyblue;
    text-align: center;
    padding-top: 30px;
    margin: 10px;
    
     /* transform: skew(20deg, 20deg);
     transform: rotate(45deg);
     transform: rotateY(45deg); 
    transform: scale(1,5);  
     transform: translate(-50px, 100px); 
    transform: scaleZ(2) rotateX(30deg); */
    transition-property: transform ;
    transition-duration: 2s;
    transition-delay: 1s;
    transition-timing-function: cubic-bezier(0.000, 0.750, 0.980, 0.335);

}
.div1:hover{
    transform: scale(2);
    background-color: lightsalmon;
}